asgiref==3.5.2
astroid==2.11.7
dill==0.3.5.1
flake8==5.0.4
gunicorn==20.1.0
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
mypy==0.971
mypy-extensions==0.4.3
platformdirs==2.5.2
pycodestyle==2.9.1
pyflakes==2.5.0
pylint==2.14.5
sqlparse==0.4.2
tomli==2.0.1
tomlkit==0.11.2
typing_extensions==4.3.0
wrapt==1.14.1
attrs==22.1.0
Django==3.2.15
djangorestframework==3.12.4
drf-spectacular==0.15.1
gunicorn==20.1.0
inflection==0.5.1
jsonschema==4.9.1
psycopg2-binary==2.8.6
pyrsistent==0.18.1
pytz==2022.1
PyYAML==6.0
sqlparse==0.4.2
uritemplate==4.1.1
openpyxl==3.0.10
django-extensions==3.2.1
pygraphviz==1.10
