{% extends "base.html" %}
{% block body %}
<div class="row mb-4">
  <div class="col-3">

    <select name="meses" id="meses" class="form-select  bg-opacity-25" aria-label="Default select example">
      <option selected>Elija un mes</option>
      {% for mes in meses %}
      <option value="{{mes.value}}">{{mes.name}}</option>
      {% endfor %}
  </select>

  </div>
</div>
<div class="d-md-flex gap-3">

  <!-- <div class=" flex-fill"> -->
    <div class="card flex-fill text-center" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Total Impuestos hasta hoy</h5>
        <p class="card-text" id="totalImpuestoHoy"></p>
      </div>
    </div>
  <!-- </div> -->
  <!-- <div class="flex-fill"> -->
    <div class="card flex-fill text-center" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Impuestos Procesados del mes</h5>
       <p class="card-text" id="impuestosProcesados"></p>
      </div>
    </div>
  <!-- </div> -->

  <!-- <div class=" flex-fill"> -->
    <div class="card flex-fill text-center" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Impuestos Pendientes del mes</h5>

        <p class="card-text" id="impuestosPendientes"></p>
      </div>
    </div>
  <!-- </div> -->
</div>
<div class="row mt-4 mb-3 justify-content-evenly">
  <div class="col-4">

      <h3>Total de Impuestos por mes </h3>

  </div>
  <div class="col-4">

      <h3>Estado tendecias de procesos </h3>

  </div>
</div>
<div class="row justify-content-evenly">
    <div class="col-4">
        <canvas id="grafico1" width="200" height="200"></canvas>
    </div>
    <div class="col-4">
        <canvas id="grafico2" width="200" height="200"></canvas>
    </div>
</div>
<div class="row mt-5 mb-3 justify-content-evenly">
  <div class="col-4">

      <h3>Estado de Procesamiento del Impuesto por mes </h3>

  </div>
  <div class="col-4">

      <h3>Nivel de productividad </h3>

  </div>
</div>
<div class="row justify-content-evenly mb-5">
    <div class="col-4">
        <canvas id="grafico3" width="200" height="200"></canvas>
    </div>
    <div class="col-4">
        <canvas id="grafico4" width="200" height="200"></canvas>
    </div>
</div>





{% endblock %}
