{% extends "base.html" %}
{% block body %}
<div class="row">

  <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Total Impuestos hasta hoy</h5>
        <p class="card-text">45</p>

      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Total Impuestos Procesados del mes en curso</h5>
       <p class="card-text">3</p>
      </div>
    </div>
  </div>

  <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Total Impuestos Pendientes del mes en curso</h5>

        <p class="card-text">11</p>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5 mb-3 justify-content-evenly">
  <div class="col-4">

      <h3>Procesamiento de Impuesto por mes </h3>

  </div>
  <div class="col-4">

      <h3>Procesamiento de Impuesto por mes </h3>

  </div>
</div>
<div class="row justify-content-evenly">
    <div class="col-4">
        <canvas id="grafico1" width="200" height="200"></canvas>
    </div>
    <div class="col-4">
        <canvas id="grafico2" width="200" height="200"></canvas>
    </div>
</div>
<div class="row mt-5 mb-3 justify-content-evenly">
  <div class="col-4">

      <h3>Procesamiento de Impuesto por mes </h3>

  </div>
  <div class="col-4">

      <h3>Procesamiento de Impuesto por mes </h3>

  </div>
</div>
<div class="row justify-content-evenly">
    <div class="col-4">
        <canvas id="grafico3" width="200" height="200"></canvas>
    </div>
    <div class="col-4">
        <canvas id="grafico4" width="200" height="200"></canvas>
    </div>
</div>





{% endblock %}
