{% extends "base.html" %}
{% block body %}
<div class="row ustify-content-md-center">
    <div class="col-md-auto mx-auto">
        <h1><i class="bi bi-shuffle"></i>  Bienvenido a Ekchý</h1>
    </div>
</div>
<div class="row">
    <p>
        Que quieres hacer?
    </p>
</div>
<div class="row">
    <ol class="list-group list-group-numbered">
        <a href="/pdf-upload" class="list-group-item list-group-item-action list-group-item-danger"> Subir pdf para extracción</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-danger"> Subir excel  de comparación</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-danger"> Exportar</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-danger"> Ir a Dasboard</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-danger"> Restablecer</a>
    </ol>
</div>
{% endblock %}

