{% extends "admin/base_site.html" %}
{% block content %}


<h1><i class="bi bi-shuffle"></i> Asegurese que cuenta con los permisos de carga, de subir un Excel</h1>

<div class="content-main">
    <form action="/xml-upload-periodos" method="post" enctype="multipart/form-data">
        {% csrf_token %}


        <div>
            <fieldset class="module aligned">
                <div class="form-row">
                    <div>
                        <label for="formFileMultiple" class="required">Ingresar un Excel</label>
                        <input name="files" class="vTextField" type="file" id="formFileMultiple" accept=".xls,.xlsx">
                    </div>
                </div>
            </fieldset>
            <div class="submit-row">
                    <button type="submit" class="default" >Subir
                        Excel</button>
            </div>
            {% if mensaje %}
            <div class="col-12">
                <p>{{mensaje}}</p>
            </div>
            {% endif %}
        </div>
    </form>
</div>
</div>
{% endblock %}
